<div class="d-flex flex-column">
  <mat-toolbar [class.mat-elevation-z4]="true">
    <mat-toolbar-row>
      <img [src]="logo" class="company-logo">
      <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>

      <div class="toolbar-right">

        <app-logout-button></app-logout-button>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" (click)="handleMenuItemClick();"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <!-- <app-side-menu [menus]="menus"></app-side-menu> -->
        <mat-list-item [routerLink]="app_routes.user_dashboard.url" routerLinkActive="active"
          class="side-nav-menu-item-1 text-white" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.user_dashboard.title}}</div>
        </mat-list-item>

        <mat-list-item [routerLink]="app_routes.directs.url" routerLinkActive="active" class="side-nav-menu-item-1"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.directs.title}}</div>
        </mat-list-item>

        <mat-list-item [routerLink]="app_routes.level_income.url" routerLinkActive="active" class="side-nav-menu-item-1"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.level_income.title}}</div>
        </mat-list-item>

        <mat-list-item [routerLink]="app_routes.transfer_fund.url" routerLinkActive="active" class="side-nav-menu-item-1"
          [routerLinkActiveOptions]="{ exact: true }"><mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.transfer_fund.title}}</div>
        </mat-list-item>

        <!-- <mat-list-item [routerLink]="app_routes.withdrawal_level_income.url" routerLinkActive="active"
          class="side-nav-menu-item-1" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.withdrawal_level_income.title}}</div>
        </mat-list-item> -->

        <mat-list-item [routerLink]="app_routes.deposit.url" routerLinkActive="active" class="side-nav-menu-item-1"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.deposit.title}}</div>
        </mat-list-item>

        <mat-list-item [routerLink]="app_routes.sell_tokens.url" routerLinkActive="active" class="side-nav-menu-item-1" *ngIf="isInternalToken"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.sell_tokens.title}}</div>
        </mat-list-item>

        <mat-list-item [routerLink]="app_routes.withdraw.url" routerLinkActive="active" class="side-nav-menu-item-1"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>keyboard_double_arrow_right
          </mat-icon>
          <div mat-line>{{app_routes.withdraw.title}}</div>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="py-2">
        
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>