<div class="offset-md-2 offset-sm-0 col-md-8">
    <mat-card class="mx-0">
        <mat-card-title class="text-align-center">Rank Info</mat-card-title>
        <mat-card-content class="card-pad table-responsive">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>RankId</th>
                        <th>Rank Name</th>
                        <th >Self Investment({{paymentCurrency}})</th>
                        <th>Req Self Investment ({{paymentCurrency}})</th>
                        <th >Req Team A Business ({{paymentCurrency}})</th>
                        <th >Req Team B Business ({{paymentCurrency}})</th>
                        <th >Team A Business({{paymentCurrency}})</th>
                        <th >Team B Business({{paymentCurrency}})</th>
                        <th >Reward Amount</th>
                        <th>Is Rank Achieved?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elem of dataSource" [ngClass]="elem.IsLevelAchieved?'text-success':''">
                        <td>
                            {{elem.RankId}}
                        </td>
                        <td>
                            {{elem.RankName}}
                        </td>
                         <td >
                            {{elem.UserSelfInvestment}}
                        </td>
                        <td >
                            {{elem.ReqSelfInvestment}}
                        </td>
                        <td >
                            {{elem.ReqTeamA_Business}}
                        </td>
                        <td >
                            {{elem.ReqTeamB_Business}}
                        </td>
                       
                        <td >
                            {{elem.UserTeamA_Business}}
                        </td>
                        <td >
                            {{elem.UserTeamB_Business}}
                        </td>
                        <td >
                            {{elem.RewardAmount}}
                        </td>
                        <td>
                            <mat-icon>
                                {{elem.IsAchieved?'done':'close'}}
                            </mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>