

$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;

$color-white: #eee;

$gray-900: #212529;

$user-layout-toolbar-text-color: #111;
$user-layout-toolbar-background-color: #eee;//#215e9b;
$user-dashboard-tiles-border-color: rgb(100, 181, 246);
$user-dashboard-tiles-header-text-color: rgb(100, 181, 246);

$mat-form-field-text-align: left;
$table-striped-order: odd;