@import 'src/styles-utils/variables.scss';

// :host {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

.mat-toolbar {
    // background-color: $user-layout-toolbar-background-color;
    // color: $user-layout-toolbar-text-color;

   background-color: transparent;
    color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #000000;

    .mat-toolbar-row {
        padding: 0 0 0 16px;
    }
}

mat-sidenav-container {
    min-height: calc(100vh - 118px);
    height: 100%;
    margin-top: 4px;

     mat-sidenav {
        width: 260px;background: #5e1084 !important;
    }
}

.spacer {
    flex: 1 1 auto;
}

.avatar-big {
    background-color: #0000000a;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.avatar-small {
    background-color: #0000000a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.mat-avatar-list {
    height: 115px !important;
}

// for user profile menu
::ng-deep .mat-menu-panel {
    max-width: max-content !important;
}

.toolbar-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .toolbar-right-item {
        position: relative;
        object-fit: cover;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
    }

    input[type=search] {
        position: relative;
    }

    .m-p {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
    }

    .mat-divider-vertical {
        height: 50px;
    }
}

footer {
    @extend .mat-toolbar;
    height: 50px;
    width: 100%;
}


.mat-list-icon {
    padding: 0px !important;
}

.mat-list-text {
    padding-left: 16px !important;
}

// .mat-line {
//   white-space: normal !important;
// }

.active {
    background: #94a5ff33 !important;
    border-left: 4px solid #3f51b5;
}

.mat-list-item.active {
    width: auto;
}



.mobile-nav {
  background: #212121;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  z-index: 0;
}

.mobile-nav a {
  text-align: left;
  padding: 12px 10px;
  color: white;
  display: inline-block;
}

@media (max-width:768px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
      
        justify-content: space-between;
        padding: 10px !important;
    }
}