<!-- <div class="tiles-container d-flex flex-column flex-row"> -->
    <div class="tiles-wrap d-flex flex-column flex-row flex-md-row flex-wrap justify-content-center">

        <app-dashboard-tiles matIcon="account_balance" title="Deposit" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.Investment}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="token" title="Tokens Holding" class="col-md-3 col-sm-12" *ngIf="isInternalToken"
            [data]="[{key: internalTokenName, value: dashboardDetails?.InternalTokenBalance}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="group" title="Directs" class="col-md-3 col-sm-12"
            [data]="[{key: '', value: dashboardDetails?.DirectsCount}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="group" title="Team" class="col-md-3 col-sm-12"
            [data]="[{key: '', value: dashboardDetails?.TotalTeam}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="account_balance" title="Directs Deposit" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.DirectsInvestment}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="account_balance" title="Team Deposit" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.TeamInvestment}]"></app-dashboard-tiles>

        <!-- <app-dashboard-tiles matIcon="group" title="Referral Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.ReferralIncome}]"></app-dashboard-tiles> -->

        <app-dashboard-tiles matIcon="payments" title="New Registration Bonus" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.NewRegistrationBonus}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="ROI Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.ROIIncome}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Level Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.LevelIncome}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Rank Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.RankIncome}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Topmost Sponsors Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.TopmostSponsorsIncome}]"></app-dashboard-tiles>

        <!-- <app-dashboard-tiles matIcon="payments" title="Withdrawal Level Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.WithdrawalLevelIncome}]"></app-dashboard-tiles> -->

        <app-dashboard-tiles matIcon="payments" title="Total Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.TotalIncome}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Pending ROI Income" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.PendingROIIncome}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Capping Amount" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.Capping}]"></app-dashboard-tiles>

        <app-dashboard-tiles matIcon="payments" title="Total Withdrawn" class="col-md-3 col-sm-12"
            [data]="[{key: paymentCurrency, value: dashboardDetails?.AmountWithdrawn}]"></app-dashboard-tiles>

    </div>
<!-- </div> -->
<app-deposit [showHistory]="false"></app-deposit>
<div class="d-flex flex-column flex-row flex-md-row justify-content-around">
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Connected Wallet" [displayValue]="userAddress" [url]="addressExplorer+userAddress"></app-referral-link>
    </div>
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Referral Link" [displayValue]="referralLink" [url]="referralLink"></app-referral-link>
    </div>
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Contract Address" [displayValue]="contractAddress" [url]="addressExplorer+contractAddress"></app-referral-link>
    </div>
<!--    
    <mat-card class="col-md-4">
        <mat-card-title class="text-align-center">Sponsored by</mat-card-title>
        <mat-card-content class="card-pad">
            <mat-form-field class="text-align-center referral-link-text">
                <input matInput [value]="userDetails?.SponsorAddress" disabled="true">
            </mat-form-field>
        </mat-card-content>
    </mat-card> -->
</div>
<!-- 
<div class="tiles-container" fxLayout="column" fxLayout.md="row" fxLayoutGap="15px">
    <div class="tiles-wrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row wrap" fxFlex.md="50"
        fxLayoutAlign="space-around">
        <app-line-graph fxFlex="47"></app-line-graph>
        <app-recent-income fxFlex="47"></app-recent-income>
    </div>

    <div class="tiles-wrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row wrap" fxFlex.md="50"
        fxLayoutAlign="space-around">
        <mat-card fxFlex="47">
            <mat-card-title class="text-align-center">Income Distribution</mat-card-title>
            <app-pie-chart></app-pie-chart>
        </mat-card>
        <div fxFlex="47" fxLayout="column" fxLayoutGap="15px">
            <app-referral-link [referralLink]="userDetails.referral_link"></app-referral-link>
            <app-joining-details [details]="details"></app-joining-details>
        </div>
    </div>
</div> -->