<!-- <div class="tiles-container d-flex flex-column flex-row"> -->
    
    <div class="row align-items-center justify-content-between">

        <div class="col-md-3 col-sm-12 mb-3">
            <div class="rank-card bg-white text-center p-3">
                <h4>Rank</h4>
                <div class="rank-value mt-2">
                    {{dashboardDetails?.RankName?dashboardDetails?.RankName:'N/A'}}
                    <mat-icon class="rank-icon">star</mat-icon>
                    
                </div>
            </div>
        </div>
<div class="col-md-4">
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6">
            <div class="card">
                <!-- <span class="bg-primary h-50 w-50 d-flex-center rounded-circle m-auto eshop-icon-box">
                    <i class="fa fa-usd"></i>
                </span> -->


                <div class="card-body eshop-cards">
                    <span class="ripple-effect"></span>
                    <div class="overflow-hidden">
                        <p class="titlename">Withdrawal Wallet</p>
                        <h3 class="text-primary mb-0">{{dashboardDetails?.WithdrawalWalletBalance}} {{paymentCurrency}}</h3>
                        <!-- <h6 class="dollername"> </h6> -->
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
            <div class="card">
                <!-- <span class="bg-primary h-50 w-50 d-flex-center rounded-circle m-auto eshop-icon-box">
                    <i class="fa fa-usd"></i>
                </span>
 -->

                <div class="card-body eshop-cards">
                    <span class="ripple-effect"></span>
                    <div class="overflow-hidden">
                        <p class="titlename">Topup Wallet</p>
                        <h3 class="text-primary mb-0">{{dashboardDetails?.TopupWalletBalance}} {{paymentCurrency}}</h3>
                        <!-- <h6 class="dollername"> </h6> -->
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
      
       
        
    </div>
    <div class="tiles-wrap d-flex flex-column flex-row flex-md-row flex-wrap justify-content-center">
    <app-dashboard-tiles matIcon="account_balance" title="Deposit" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.Investment}]"
        [badge]="dashboardDetails?.InvestmentBadge" badgeText="Earnings">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="token" title="Tokens Holding" class="col-md-3 col-sm-12" *ngIf="isInternalToken"
        [data]="[{key: internalTokenName, value: dashboardDetails?.InternalTokenBalance}]">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="group" title="Directs" class="col-md-3 col-sm-12"
        [data]="[{key: '', value: dashboardDetails?.DirectsCount}]" [badge]="dashboardDetails?.DirectsCountBadge"
        badgeText="Team Fill">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="group" title="Team" class="col-md-3 col-sm-12"
        [data]="[{key: '', value: dashboardDetails?.TeamCount}]" [badge]="dashboardDetails?.DirectsCountBadge"
        badgeText="Directs">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="account_balance" title="Directs Deposit" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.DirectsInvestment}]"
        [badge]="dashboardDetails?.DirectsInvestmentBadge" badgeText="% of Team Business">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="account_balance" title="Team A" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.TeamA_Business}]"
        [badge]="dashboardDetails?.TeamA_Badge" badgeText="% of Team Business">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="account_balance" title="Team B" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.TeamB_Business}]"
        [badge]="dashboardDetails?.TeamB_Badge" badgeText="% of Team Business">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="account_balance" title="Team Business" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.TeamInvestment}]"
        [badge]="dashboardDetails?.TeamInvestmentBadge" badgeText="Directs Investment %">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="New Registration Bonus" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.NewRegistrationBonus}]"
        [badge]="dashboardDetails?.RegistrationBonusBadge" badgeText="of Total">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="ROI Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.ROIIncome}]" [badge]="dashboardDetails?.RoiIncomeBadge"
        badgeText="of Total">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Level Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.LevelIncome}]"
        [badge]="dashboardDetails?.LevelIncomeBadge" badgeText="of Total">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Rank Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.RankIncome}]"
        [badge]="dashboardDetails?.RankIncomeBadge" badgeText="of Total">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Topmost Sponsors Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.TopmostSponsorsIncome}]"
        [badge]="dashboardDetails?.TopmostSponsorsBadge" badgeText="of Total">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Total Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.TotalIncome}]"
        [badge]="dashboardDetails?.TotalIncomeBadge" badgeText="of Capping">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Pending ROI Income" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.PendingROIIncome}]"
        [badge]="dashboardDetails?.PendingRoiBadge" badgeText="of ROI">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Capping Amount" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.Capping}]" [badge]="dashboardDetails?.CappingUsedBadge"
        badgeText="Used">
    </app-dashboard-tiles>

    <app-dashboard-tiles matIcon="payments" title="Total Withdrawn" class="col-md-3 col-sm-12"
        [data]="[{key: paymentCurrency, value: dashboardDetails?.AmountWithdrawn}]"
        [badge]="dashboardDetails?.WithdrawnBadge" badgeText="of Total">
    </app-dashboard-tiles>

</div>

<div class="d-flex flex-column flex-row flex-md-row justify-content-around">

    <div class="col-md-3 col-sm-12 d-none">
        <mat-card class="rank-card text-center p-3">
            <h4>Withdrawal Wallet</h4>
            <div class="wallet-balance mt-2">{{dashboardDetails?.WithdrawalWalletBalance}} {{paymentCurrency}}</div>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-12 d-none">
        <mat-card class="rank-card text-center p-3">
            <h4>Topup Wallet</h4>
            <div class="wallet-balance mt-2">{{dashboardDetails?.TopupWalletBalance}} {{paymentCurrency}}</div>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-12 d-none">
        <mat-card class="rank-card text-center p-3">
            <h4>Rank</h4>
            <div class="rank-value mt-2">
                {{dashboardDetails?.RankName?dashboardDetails?.RankName:'N/A'}}
                <mat-icon class="rank-icon">star</mat-icon>
            </div>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-12">
        <mat-card>
            <ngx-gauge type="arch" [value]="dashboardDetails?.CappingUsedBadge" label="Capping Used" append="%" [thick]="12"
                [thresholds]="guageThresholdConfig" [margin]="10">
            </ngx-gauge>
        </mat-card>
    </div>
</div>

<!-- </div> -->
<div class="d-flex flex-column flex-row flex-md-row justify-content-around">
    <div class="col-md-6 col-sm-12">
        <app-re-activation></app-re-activation>
    </div>
    <div class="col-md-6 col-sm-12">
        <app-deposit [showHistory]="false"></app-deposit>
    </div>
</div>
<div class="d-flex flex-column flex-row flex-md-row justify-content-around">
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Connected Wallet" [displayValue]="userAddress"
            [url]="addressExplorer+userAddress"></app-referral-link>
    </div>
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Referral Link" [displayValue]="referralLink" [url]="referralLink"></app-referral-link>
    </div>
    <div class="col-md-4 col-sm-12">
        <app-referral-link text="Contract Address" [displayValue]="contractAddress"
            [url]="addressExplorer+contractAddress"></app-referral-link>
    </div>
    <!--    
    <mat-card class="col-md-4">
        <mat-card-title class="text-align-center">Sponsored by</mat-card-title>
        <mat-card-content class="card-pad">
            <mat-form-field class="text-align-center referral-link-text">
                <input matInput [value]="userDetails?.SponsorAddress" disabled="true">
            </mat-form-field>
        </mat-card-content>
    </mat-card> -->
</div>
<!-- 
<div class="tiles-container" fxLayout="column" fxLayout.md="row" fxLayoutGap="15px">
    <div class="tiles-wrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row wrap" fxFlex.md="50"
        fxLayoutAlign="space-around">
        <app-line-graph fxFlex="47"></app-line-graph>
        <app-recent-income fxFlex="47"></app-recent-income>
    </div>

    <div class="tiles-wrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row wrap" fxFlex.md="50"
        fxLayoutAlign="space-around">
        <mat-card fxFlex="47">
            <mat-card-title class="text-align-center">Income Distribution</mat-card-title>
            <app-pie-chart></app-pie-chart>
        </mat-card>
        <div fxFlex="47" fxLayout="column" fxLayoutGap="15px">
            <app-referral-link [referralLink]="userDetails.referral_link"></app-referral-link>
            <app-joining-details [details]="details"></app-joining-details>
        </div>
    </div>
</div> -->