@import 'src/styles-utils/variables.scss';

.mat-card {
    border-color: $user-dashboard-tiles-border-color;
    border-left-width: 4px;
    border-left-style: solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    .mat-card-content {
        .tile-avatar {
            width: 60px;
            height: 60px;
            color: $user-dashboard-tiles-header-text-color;
        }

        .tile-title {
            font-size: 17px;
            font-weight: 500;
        }

        .tile-title-small {
            font-size: 16px;
            font-weight: 500;
        }

        @media (max-width:840px) {
            .tile-title-small {
                font-size: 14px;
            }
        }

        .mat-icon {
            font-size: 55px;
        }

        .tile-value-button {
            line-height: 30px;
        }

        .tile-value {
            font-size: 25px;
            color: #555;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }

        .tile-value-description {
            font-size: 15px;
            font-weight: 400;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }
    }
}

.mat-mdc-button.mat-mdc-button-base {
    height: 65px;
}

.stat-widget-one, .stat-widget-two {
    border-color: transparent;
}
.card {
    margin-bottom: 1.875rem;
    background: rgba(0, 0, 0, .5);
    transition: all .5s ease-in-out;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .15);
    z-index: 0;
    padding: 15px;
    height: 180px;
    border-radius: 10px;
}

.badge {
    line-height: 1.5;
    padding: 5px 10px;
}

.text-success {
    color: #1dc9b7 !important;
}
.badge {
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.stat-widget-one h3, .stat-widget-one h4, .stat-widget-two h2, .stat-widget-two h4 {
    color: #fff;
}
.stat-widget-one h3 {
   font-size: 1.5rem;
}
.stat-widget-one h4 , .stat-widget-two h4{
    font-size: 1rem;
}
.progress-bar {
    border-radius: 4px;
}

.progress-bar, .progress-bar-primary {
    background-color: #5e1084;
}
.progress-bar {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
}
.progress {
    height: 6px !important;
    overflow: visible;
}

.progress {
    height: 1rem;
    font-size: .65625rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.progress, .progress-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.bg-btc {
    color: #fff;
}

.stat-widget-one .cc {
    opacity: 0.3;
    font-size: 51px;
    width: 45px;
    height: 45px;
}

.stat-widget-one .cc, .stat-widget-two .cc {
    position: absolute;
    top: 40px;
    right: 0;
}