<div class="offset-md-2 offset-sm-0 col-md-8">
    <mat-card>
        <mat-card-title class="text-align-center">Buy BBD Token</mat-card-title>
        <mat-card-content class="card-pad">
            <form [formGroup]=buytokenForm #formDir="ngForm" (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-center mb-3">
                    Rate : 1 USDT ~ {{buytokenForm.controls['rateOfToken'].value}} BBD Token
                </div>
                <mat-form-field class="w-100">
                    <mat-label>Rate Of Token</mat-label>
                    <input matInput formControlName="rateOfToken" />
                    <mat-error>
                        <app-text-validation-message fieldName="userIdAddress"
                            [formGroupDirective]="formDir"></app-text-validation-message>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Wallet</mat-label>
                    <mat-select formControlName="selectedWallet">
                        <!-- <mat-option [value]="1">Withdrawal Wallet</mat-option> -->
                        <mat-option [value]="1">BBD$</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="d-flex justify-content-end mb-2">
                    <b>Balance: {{amountAvailableToSend}} {{paymentCurrency}}</b>
                </div>
                <mat-form-field>
                    <mat-label>Amount (USDT)</mat-label>
                    <input matInput  formControlName="amountToBuy"/>
                     <mat-error>
                        <app-text-validation-message fieldName="amountToBuy"
                            [formGroupDirective]="formDir"></app-text-validation-message>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>BBD Token Amount</mat-label>
                    <input matInput formControlName="totalToken" readonly />
                </mat-form-field>
                <!-- <div class="d-flex justify-content-end">
                    <b>Balance: {{amountAvailableToSend}} {{paymentCurrency}}</b>
                </div> -->

                <div class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" type="submit">Buy Token</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>

<app-bbd-purchase-history></app-bbd-purchase-history>