<mat-card>
    <mat-card-title class="text-align-center">4X Capping</mat-card-title>
    <mat-card-content class="card-pad">
        <div *ngIf="!IsQualifiedFor4X; else qualifiedBlock">
            <div class="d-flex justify-content-center text-info text-center mb-3">
                <strong>Deposit <b>2000 {{paymentCurrency}}</b> in single transaction or achieve <b>Star 1</b> rank
                    within
                    45 days of your first activation date to increase your capping to 4X.</strong>
            </div>
            <div *ngIf="!countdownExpired; else expiredBlock">
                <div class="d-flex justify-content-center">
                    <h2>Offer expires in...</h2>
                </div>

                <div class="d-flex justify-content-center">
                    <app-flip-clock [targetDate]="timerEndDate" showUpto="days"></app-flip-clock>
                </div>

            </div>

            <ng-template #expiredBlock>
                <div class="d-flex justify-content-center text-danger text-center mb-3">
                    <h1><strong>Offer Closed</strong></h1>
                </div>
            </ng-template>
        </div>

        <ng-template #qualifiedBlock>
            <div class="d-flex justify-content-center">
                <h2 class="text-success">
                    <b><mat-icon>celebration</mat-icon> Congratulations! 4X capping is active!</b>
                </h2>
            </div>
        </ng-template>

    </mat-card-content>
</mat-card>