<div class="offset-md-2 offset-sm-0 col-md-8">
    <mat-card class="mx-0">
        <mat-card-title class="text-align-center">Directs</mat-card-title>
        <mat-card-content class="card-pad table-responsive">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Srno</th>
                        <th>Address</th>
                        <th>Investment ({{paymentCurrency}})</th>
                        <th>Business ({{paymentCurrency}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elem of dataSource">
                        <td>
                            {{elem.Srno}}
                        </td>
                        <td>
                            {{elem.Direct}}
                        </td>
                        <td>
                            {{elem.Investment}}
                        </td>
                        <td>
                            {{elem.Business}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>