<!-- <div class="offset-md-2 offset-sm-0 col-md-8"> -->
<mat-card class="mx-0">
    <!-- <mat-card-title class="text-align-center">Level Income</mat-card-title> -->
    <mat-card-content class="card-pad table-responsive">
        <mat-paginator [length]="data_count" [pageSize]="defaultPageSize" [pageSizeOptions]="pageSizeOptions"
            [showFirstLastButtons]="showFirstLastButtons" (page)="onPageChange($event)">
        </mat-paginator>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Srno</th>
                    <th>{{internalTokenName}} Amount</th>
                    <th>Amount ({{paymentCurrency}})</th>
                    <th>Rate ({{paymentCurrency}} ~ {{internalTokenName}})</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elem of dataSource" [ngClass]="elem.IsLevelAchieved?'text-success':''">
                    <td>
                        {{elem.Srno}}
                    </td>
                    <td>
                        {{elem.InternalTokenAmount}}
                    </td>
                    <td>
                        {{elem.Amount}}
                    </td>
                    <td>
                        {{elem.Rate}}
                    </td>
                    <td>
                        {{elem.Timestamp}}
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
<!-- </div> -->